body{
  background-image: linear-gradient(to right,blue,green);
}
#top{
width: 550px;
height:300px;
position: absolute;
left:400px;
top:57.5px;
padding: 40px;
 background-color:white;
  
}
#container{
  position: absolute;
  left:70px;
  top:10px;
}
#circle{
  width: 100px;
  height:380px;
  left:354px;
  top:57.5px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
}
#side{

}
span{
  float: left;
 
  width: 40%;
  
}
#side{
  top:110px;
  position: absolute;
}
img{
  height: 100px;
  width: 100px;
  left:120px;
  border-radius: 100%;
  position: relative;
}
#write{
  color:white;
  text-align: center;
  width:150px;
  position: relative;
  left: 100px;
}